<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR4pbo-R95KWTNvKepEtWK8hNvJPvwFw4</string>
	<key>GCM_SENDER_ID</key>
	<string>283524420816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HeYang.HelloT</string>
	<key>PROJECT_ID</key>
	<string>hellot-80b8c</string>
	<key>STORAGE_BUCKET</key>
	<string>hellot-80b8c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283524420816:ios:9fbc4a2df1d1131fc4fad5</string>
</dict>
</plist>